In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
from pathlib import Path
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [17]:
# File to Load (Remember to Change These)
primary_path = Path("C:\\Users\\jahn_\\Documents\\UofT\\GitHub\\Data-Analytics-Boot-Camp\\Project-1-bootcamp\\Datasets\\Suicide rates overview 1985 - 2021\\master.csv")

# Read  Data File and store into Pandas DataFrames
primary_data = pd.read_csv(primary_path)

# Combine the data into a single dataset.

In [32]:
primary_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21.0,312900,6.71,Albania1987,NaN,"2,15,66,24,900",796.0,Generation X
1,Albania,1987,male,35-54 years,16.0,308000,5.19,Albania1987,NaN,"2,15,66,24,900",796.0,Silent
2,Albania,1987,female,15-24 years,14.0,289700,4.83,Albania1987,NaN,"2,15,66,24,900",796.0,Generation X
3,Albania,1987,male,75+ years,1.0,21800,4.59,Albania1987,NaN,"2,15,66,24,900",796.0,G.I. Generation
4,Albania,1987,male,25-34 years,9.0,274300,3.28,Albania1987,NaN,"2,15,66,24,900",796.0,Boomers

In [33]:
primary_data.tail()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
31751,Ukraine,2017,female,75+ years,256.0,44831135,0.571032,Ukraine2017,0.785458,1.12E+11,2638.326055,G.I. Generation
31752,United Kingdom,2017,female,75+ years,104.0,66058859,0.157435,United Kingdom2017,0.914735,2.70E+12,40857.755580,G.I. Generation
31753,United States of America,2017,female,75+ years,501.0,325122128,0.154096,United States of America2017,0.918620,1.95E+13,60109.655730,G.I. Generation
31754,Uruguay,2017,female,75+ years,14.0,3422200,0.409094,Uruguay2017,0.816745,64233966861,18690.893840,G.I. Generation
31755,Uzbekistan,2017,female,75+ years,3.0,32388600,0.009263,Uzbekistan2017,0.691258,62081323299,1916.764642,G.I. Generation

In [35]:
primary_data.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,31756.000000,30556.000000,3.175600e+04,31756.000000,12300.000000,31756.000000
mean,2003.395390,237.136242,7.217454e+06,11.716668,0.793666,17588.954606
std,9.760604,867.956107,5.799323e+07,21.590926,0.097480,19464.861140
min,1985.000000,0.000000,2.780000e+02,0.000000,0.377790,251.000000
25%,1996.000000,3.000000,1.288210e+05,0.370000,0.727000,3765.000000
50%,2004.000000,25.000000,5.468325e+05,4.285000,0.800457,10062.000000
75%,2011.000000,132.000000,2.908763e+06,14.560000,0.874000,25622.000000
max,2020.000000,22338.000000,1.411100e+09,515.092734,0.975114,126352.000000

In [23]:
primary_data.shape

(31756, 12)

In [24]:
missing_values = primary_data.isnull().sum()
print(missing_values)

country                   0
year                      0
sex                       0
age                       0
suicides_no            1200
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [27]:
missing_values_in_column = primary_data["suicides_no"].isnull().sum()
print("Missing values in 'suicides_no' column:", missing_values_in_column)

Missing values in 'suicides_no' column: 1200

In [28]:
print(primary_data["suicides_no"].head())

0    21.0
1    16.0
2    14.0
3     1.0
4     9.0
Name: suicides_no, dtype: float64

In [30]:
print(primary_data.head())

   country  year     sex          age  suicides_no  population  \
0  Albania  1987    male  15-24 years         21.0      312900
1  Albania  1987    male  35-54 years         16.0      308000
2  Albania  1987  female  15-24 years         14.0      289700
3  Albania  1987    male    75+ years          1.0       21800
4  Albania  1987    male  25-34 years          9.0      274300

   suicides/100k pop country-year  HDI for year  gdp_for_year ($)   \
0               6.71  Albania1987           NaN     2,15,66,24,900
1               5.19  Albania1987           NaN     2,15,66,24,900
2               4.83  Albania1987           NaN     2,15,66,24,900
3               4.59  Albania1987           NaN     2,15,66,24,900
4               3.28  Albania1987           NaN     2,15,66,24,900

   gdp_per_capita ($)       generation
0               796.0     Generation X
1               796.0           Silent
2               796.0     Generation X
3               796.0  G.I. Generation
4               796.0          Boomers